.mainNavContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.Logo {
    width: 100px;
}

.mainNavContainer ul {
    display: flex;
    list-style: none;
    gap: 80px;
    font-family: "Roboto Mono", monospace;
    cursor: pointer;
    font-size: 1.2rem;
}

.mainNavContainer ul li:hover {
    border-bottom: 1px solid red;
}

.mainNavContainer button {
    background-color: rgb(205, 7, 7);
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}

.mainHeroContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.firstHeroContainer {
    width: 40%;
    margin-left: 20px;
    padding: 10px;
}

.firstHeroContainer h1 {
    font-size: 4rem;
    line-height: 90px;
}

.firstHeroContainer p {
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
}

.firstHeroContainer span {
    color: rgb(205, 7, 7);
}

.shopnowBtn {
    background-color: rgb(205, 7, 7);
    border: none;
    min-height: 40px;
    min-width: 120px;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    margin-right: 20px;
}

.categoryBtn {
    background-color: gray;
    border: none;
    min-width: 120px;
    min-height: 40px;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
}

.amazonLogo {
    width: 40px;
}

.secondHeroContainer img {
    width: 50vw;
}