.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
}

.content ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-right: 20px;
}

.content ul li {
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
}